<script setup lang="ts">
import { getCurrentAdditionalPayments, getAdditionalTotal } from '../store.js';

const addList = getCurrentAdditionalPayments()
</script>

<template>
  <div>
    <slot></slot>
  </div>
  <div>
    <table class="table">
<!--      <tr>
      <th>Назва</th>
      <th>Сума</th>
    </tr>-->
      <tr v-for="item in addList">
        <td>{{ item.title }}</td>
        <td><span class="value">{{ item.value }}</span></td>
      </tr>
      <tr>
        <th>Всього:</th>
        <th><span class="value">{{ getAdditionalTotal().toFixed(2) }}</span></th>
      </tr>
    </table>
  </div>
</template>

<style scoped>
.table {
  border-collapse: collapse;
  border: 1px solid #666666;
}

.table td, .table th {
  border: 1px solid #666666;
  padding: 5px;
}
</style>
