<script setup lang="ts">
import {getCurrentBills, getCurrentCorrectedBills} from "../store";

const bills = getCurrentBills()
const correctedBills = getCurrentCorrectedBills()

const billsByKey = Object.fromEntries(
    bills.map(b => [b.key, b])
)
const correctedBillsByKey = Object.fromEntries(
    correctedBills.map(b => [b.key, b])
)

const getSymbol = (oldValue: number, newValue: number, d = 0.01) => {
  const diff = newValue - oldValue

  if (Math.abs(diff) < d) {
    return {
      result: 'eq',
      symbol: "\u{2B29}",
      sign: '',
    }
  }

  if (diff > 0) {
    return {
      result: 'inc',
      // symbol: "\u{2B06}",
      symbol: "\u{2B9D}",
      sign: '+',
    }
  } else {
    return {
      result: 'dec',
      symbol: "\u{2B9F}",
      // symbol: "\u{2B07}",
      sign: '-',
    }
  }
}

const diffList = []
let totalDiff = 0
for (const [key, newItem] of Object.entries(correctedBillsByKey)) {
  const newValue = newItem.value
  let diffValue = 0
  if (typeof billsByKey[key] !== 'undefined') {
    const oldValue = billsByKey[key].value

    diffValue = newItem.value - billsByKey[key].value;
    diffList.push({
      title: newItem.title,
      old: billsByKey[key],
      new: newItem,
      oldValue,
      newValue,
      diff: diffValue,
      diffFixed: diffValue.toFixed(1),
      symbol: getSymbol(oldValue, newValue)
    })
  } else {
    const oldValue = 0
    diffValue = newValue
    diffList.push({
      title: newItem.title,
      oldValue,
      new: newItem,
      newValue,
      diff: newValue,
      diffFixed: newValue.toFixed(1),
      symbol: getSymbol(oldValue, newValue)
    })
  }

  totalDiff += diffValue
}

const totalDiffData = getSymbol(0, totalDiff)

console.log({billsByKey, correctedBillsByKey, diffList})
</script>

<template>
  <div v-if="diffList.length > 0">
    <slot></slot>
    <table class="table">
      <tr>
        <th>Назва</th>
        <th>Значення</th>
        <th>Відкореговане значення</th>
      </tr>
      <tr v-for="item in diffList">
        <th>{{ item.title }}</th>
        <td><span class="value">{{ item.oldValue }}</span></td>
        <td>
      <span class="value">
        {{ item.newValue }}</span>
          &nbsp;
          <span class="value small">
        <span :class="['diff-arrow', item.symbol.result]">{{ item.symbol.symbol }}</span>
        <span :class="['value-color', item.symbol.result]">{{ item.diffFixed }}</span>
      </span>
        </td>
      </tr>
    </table>
    <div class="bill-row grand-total-row">Всього: {{ totalDiff.toFixed(2) }} грн.</div>
  </div>
</template>

<style scoped>
.table {
  border-collapse: collapse;
  border: 1px solid #666666;
}

.table td, .table th {
  border: 1px solid #666666;
  padding: 5px;
}
.step-total td {
  font-weight: bold;
}

.value-color.dec {
  color: red;
}
.value-color.inc {
  color: green;
}
.diff-arrow {
  font-weight: bold;
  /*font-size: 48px;
  line-height: 48px;*/
}
.diff-arrow.dec {
  color: red;
}
.diff-arrow.inc {
  color: green;
}
.value.small {
  font-size: 0.9rem;
}
</style>
